@model SiinGroupManageStudents.Models.Student

@{
    ViewData["Title"] = "Create";
}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="RollNumber"></label>
                    <input asp-for="RollNumber" class="form-control" placeholder="Enter RollNumber">
                    <span asp-validation-for="RollNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FullName"></label>
                    <input asp-for="FullName" class="form-control" placeholder="Enter FullName">
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" placeholder="Example@siingroup.com">
                </div>
                <button type="submit" class="btn btn-success mr-2">Create</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
