@model IEnumerable<SiinGroupManageStudents.Models.Mark>

@{
    ViewData["Title"] = "ListSubject";
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectName)
                </td>
            </tr>
        }
    </tbody>
</table>